body {
  color: #ffffff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 90px;
  background-color: #000000;
  color: #ffffff;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle inside;
}

.header__links-list-item {
  padding-left: 5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3;
}

.header__link:hover {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: underline;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  display: block;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: right;
}

.address__link {
  text-decoration: none;
}

.address__link:hover {
  text-decoration: underline;
}

.header__address {
  justify-self: end;
  max-width: 230px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 850px;
  padding: 165px 50px 110px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #ffffff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 180px;
  font-weight: bold;
  line-height: 0.82;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.18;
  word-spacing: 20px;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 18px 35px;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lots {
  padding: 182px 24px 122px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 51px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 1.2;
  text-decoration: underline;
}

.lots__look-more-link:hover {
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 100px 24px;
  background-color: #000000;
  color: #ffffff;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:first-child {
  align-items: center;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 102px;
  margin-top: 96px;
}

.about__text {
  max-width: 680px;
}

.about__text-paragraph {
  font-size: 20px;
  line-height: 1.2;
}

.about__text-paragraph:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 88px 50px;
  background-color: #000000;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}

.footer .address {
  text-align: left;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 1.3;
  text-decoration: underline;
}

.footer__menu-link:hover {
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
